<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
	<rosparam file="$(find harmoni_speaker)/config/configuration.yaml" subst_value="True"/>
	<node pkg="harmoni_speaker" type="speaker_service_nao.py" name="harmoni_speaker_nao" output="screen"  args="nao"/>
</launch>
